/* CSS Document */
*{
	margin:0px;
	padding:0px;
	outline:none;
	}
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,
body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,
em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,
iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,
small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{
	background:transparent;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
	}
ul li{
padding:0px;
margin:0px
}	
ol, ul {
	list-style:none;
	}
blockquote, q {
	quotes:none;
	}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
	}
.table_box th { 
	background-color: #262626;
	border: 1px dotted #fff;
	padding:3px; 
	text-align: left; 
	} 
.table_box td {	
	 vertical-align: top; 
	 padding:3px; 
	 }	
img {
	vertical-align:top;
	}
embed {
	vertical-align:top;
	}
article, aside, audio, canvas, command, datalist, details, embed, 
figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
	}
mark, rp, rt, ruby, summary, time {
	display:inline;
	}
input, textarea {
	border:0; 
	padding:0; 
	margin:0; 
	outline: 0;
	}
iframe {
	border:0; 
	margin:0; 
	padding:0;
	}
input, textarea, select {
	margin:0; 
	padding:0px;
	}
fieldset, img { 
	border: 0; 
	} 
 p{
	padding:0; 
 }
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, 
meter, nav, output, progress, section, source, video {
	display:block;
	}
mark, rp, rt, ruby, summary, time {
	display:inline;
	}
	
/*For Link*/	
a{text-decoration:none;	}
a:link { color: #000000;}
a:visited { color: #000000;}
a:hover { color: #000000; text-decoration:underline;}
a:active { color: #00000;}
a:focus { outline: none;}
a img {border: none;}	
/*End	*/	
/*For Fixed-ID Link*/	
#sf_inner_page_desc a{ text-decoration:none;}
#sf_inner_page_desc a:link { color: #000;}
#sf_inner_page_desc a:visited { color: #000;}
#sf_inner_page_desc a:hover { color: #000; text-decoration:underline;}
#sf_inner_page_desc a:active { color: #000;}
/*End	*/	
/*For Fixed-Class Link*/	
.latest_news_row a{ text-decoration:none;}
.latest_news_row a:link { color: #646464;}
.latest_news_row a:visited { color: #646464;}
.latest_news_row a:hover { color: #fff; text-decoration:none;}
.latest_news_row a:active { color: #fff;}
/*End	*/		
h1 { font-size: 18px; color:#0c67ce; font-family: 'OpenSansBold';text-transform:uppercase}
h2 { font-size: 24px; color:#464747; font-weight:normal; font-family:'OpenSansRegular';}
h3 { font-size: 22px; color:#353535;font-weight:normal; font-family:'OpenSansRegular';}
h4 { font-size: 18px; color:#333; font-weight:normal; font-family:'OpenSansRegular';}
h5 { color:#7c0505; text-align:center; font-size:18px; font-weight:normal; font-family:'OpenSansRegular';}
h6 { font-size: 14px; color:#fff; font-family:'OpenSansRegular';}

.image_left{
	float:left;	
	margin-right:1.0em;
	}
.image_right{
	float:right;	
	margin-left:1.0em;
	}		
.image_border{	
	float:right;	
	margin-left:1.0em;
	border:1px solid #efefef; 
    padding:2px;
	}
		
